#include <winver.h>
#include "../../BFVRVersion.inc"

#define IDI_BFVR 101

IDI_BFVR ICON "../../assets/BFVR.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION BFVR_VERSION_MAJOR,BFVR_VERSION_MINOR,BFVR_VERSION_PATCH,BFVR_VERSION_BUILD
 PRODUCTVERSION BFVR_VERSION_MAJOR,BFVR_VERSION_MINOR,BFVR_VERSION_PATCH,BFVR_VERSION_BUILD
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "Battlefield 1942 VR Mod\0"
            VALUE "FileVersion", BFVR_VERSION_STRING "\0"
            VALUE "InternalName", "BFVR\0"
            VALUE "OriginalFilename", "BFVR.exe\0"
            VALUE "ProductName", "BFVR\0"
            VALUE "ProductVersion", BFVR_VERSION_STRING "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
